<?xml version="1.0"?>
<config>

	<modules>
		<Aoe_JsCssTstamp>
			<version>0.1.0</version>
		</Aoe_JsCssTstamp>
	</modules>

	<global>

		<helpers>
			<aoejscsststamp>
				<class>Aoe_JsCssTstamp_Helper</class>
			</aoejscsststamp>
		</helpers>

		<models>
			<aoejscsststamp>
				<class>Aoe_JsCssTstamp_Model</class>
			</aoejscsststamp>
			<core>
				<rewrite>
					<design_package>Aoe_JsCssTstamp_Model_Package</design_package>
				</rewrite>
			</core>
		</models>

		<events>
			<clean_media_cache_after>
				<observers>
					<aoejscsststamp>
						<type>singleton</type>
						<class>aoejscsststamp/observer</class>
						<method>clean_media_cache_after</method>
					</aoejscsststamp>
				</observers>
			</clean_media_cache_after>
		</events>

	</global>
	
</config>